@using Microsoft.AspNetCore.Identity

@if (User.Identity.IsAuthenticated)
{
    <form asp-area="" asp-controller="cuenta" asp-action="logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hola @User.FindFirst(c => c.Type.Equals("Espec.Alias")).Value!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="cuenta" asp-action="registro">Registro</a></li>
        <li><a asp-area="" asp-controller="cuenta" asp-action="login">Log in</a></li>
    </ul>
}
